group = smsc
smsc = smpp
host = smpp.example.com
port = 9500
smsc-username = test
smsc-password = pass
keepalive = 5
transceiver-mode = true
system-type = CMT
service-type = CMT
smsc-id = MY-SMSC
interface-version = 34
source-addr-ton = 5
source-addr-npi = 0
dest-addr-ton = 1
dest-addr-npi = 1
log-file = "/var/log/kannel/smpp.log"